* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  max-width: 85%;
  margin: 0 auto;
}

.note-card {
  animation: fadeIn 0.8s 1 ease-in;
}

/*Animations*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
